.match
  .row.well{style:'margin:2px; padding:15px 0'}
    .col-lg-6
      %span{style:"color:#5CB85C"}
        WIN
      &nbsp;&nbsp;&nbsp;
      Summoners Rift
    .col-lg-6{style:'text-align:right;'}
      = match.played_at.strftime('%a, %b %-d | %l:%M%p')
  -#= debug match
  %table.table.matches
    %thead
      %tr
        %th SUMMONER
        %th SPELLS
        %th KDAR
        %th ITEMS
        %th FARM
        %th CREEPS
        %th{colspan:'2'} GOLD/MINUTE

    %tbody
      = render partial: 'match_team', collection: match.top_team, as: 'p', locals:{team_ids:team_ids}
      %tr
        %td{colspan:'10', style:'text-align:center'}
          %hr
      = render partial: 'match_team', collection: match.bottom_team, as: 'p', locals:{team_ids:team_ids}

  .row
    - note = @team.team_notes.where(game_id: match.id).first_or_create
    = form_for(note, url: team_team_note_path(@team, note)) do |f|
      .col-lg-4
        - if f.object.league_replay_url.blank?
          .lolr{style:'border:1px solid #f1ae43;'}
            = image_tag 'lolr.png', style:'width:130px'
            %br
            %i.fa.fa-arrow-up
            Upload LOL Replay to archives.
            = f.file_field :league_replay
        - else
        = link_to f.object.league_replay_url, target:'_blank', class:'clean-link' do
          .lolr{style:'border:1px solid #f1ae43;'}
            = image_tag 'lolr.png', style:'width:130px'
            %br
            %i.fa.fa-arrow-down
            Download LOL Replay.

      .col-lg-8
        Game Notes:
        = f.text_area :note, class:'match-note'
        = f.submit 'Save', class: 'btn btn-primary pull-right'
  .row
    .col-lg-12
