%tr{class:"#{ 'friend' if team_ids.include? p['summoner'].id }"}
  %td
    = image_tag "https://ddragon.leagueoflegends.com/cdn/4.8.2/img/champion/#{p['champion'].key}.png", style:'width:26px'
    = p['summoner'].name.capitalize

  - if p['stats']
    - raw = p['stats'].raw
    - raws = raw['stats']
    %td
      - ['spell1','spell2'].each do |i|
        - unless raw[i].blank?
          %img{src:SummonerSpell.image_url(raw[i])}
          %img{src:"https://lkimg.zamimg.com/images/spells/#{ raw[i] }.png"}
        - else
          .empty-item
    %td
      - k = raws['championsKilled'].to_f
      - d = raws['numDeaths'].to_f
      - a = raws['assists'].to_f
      - kda = ( d > 0 ? (k+a)/d : k+a).round(1)
      %span.has-tooltip{title:"#{k.to_i}/#{d.to_i}/#{a.to_i}"}
        = kda
    %td
      - ['item0','item1','item2','item3','item4','item5','item6'].each do |i|

        = "#{i=='item6'?'&nbsp;&nbsp;':''}".html_safe
        - unless raws[i].blank?
          %img{src:GameStats.item_image(raws[i])}
        - else
          .empty-item
    %td
      %span.numeral.has-tooltip{title:"#{raws['goldEarned']} Gold earned"}
        = raws['goldEarned']
    %td
      - min = raws['minionsKilled'] ? raws['minionsKilled'] : 0
      - jun = raws['neutralMinionsKilled'] ? raws['neutralMinionsKilled'] : 0
      %span.has-tooltip{title:"#{min} Minions and #{jun} Jungle Creeps"}
        = min + jun
    %td
      = p['stats'].gold_per_minute
    %td
      .progress.has-tooltip{title:"#{p['stats'].gold_per_minute} Gold per minute - #{p['stats'].gold_per_minute_percentage}% of best"}
        .progress-bar{class: p['stats'].gold_per_minute_percentage > 40 ? "progress-bar-success" : "progress-bar-warning" , 'aria-valuemax' => '100', 'aria-valuemin' => '0', 'aria-valuenow' => "#{p['stats'].gold_per_minute_percentage}", role: 'progressbar', style: "width: #{p['stats'].gold_per_minute_percentage}%"}
    %td
      %a.pick-mvp.has-tooltip{href:'#', title:'Vote MVP'}
        %i.fa.fa-trophy

  - else
    %td.no-data{colspan:'9'}
      No Data for this summoner
