.container.page-top-pad
  .row
    .col-lg-12
      .page-header
        .row
          .col-lg-3
            %h1 Perfect Fit
          .col-lg-2.win
            %br
            %br
            %i.fa.fa-map-marker
            = current_user.location_city
            = current_user.location_state
          .col-lg-2.win
            %br
            %br
            Play Style:
            = current_user.play_style
          .col-lg-4.win
            %br
            %br
            Times:
            = current_user.gaming_times.tr!('_', ' ')

        We have found these available positions perfect for you! If you dont find a position you want then create your own team.
        = link_to 'Create New Team', new_team_path, class:'pull-right'

      %table.table.table-hover.teams-table
        %thead
          %tr
            %th
            %th Team Name
            %th Level Range
            %th Style
            %th Location
            %th Positions
            %th Wins
            %th Founded
            %th Server
            %th Join Request
        %tbody
          - @teams.each do |team|
            %tr
              %td
                = image_tag team.avatar
              %td
                = team.name
              %td
                = team.level_range
              %td
                = team.play_style
              %td
                = team.users.first.try(:location)
              %td
                = team.open_positions.join(', ')
              %td
              %td
                = team.created_at.strftime('%Y-%m-%d')
              %td
                = team.summoners.first.try(:region).try(:upcase)
              %td
                = form_for Team::Request.new(team: team), url: requests_path do |f|
                  = f.hidden_field :team_id
                  = f.submit 'Request Invite', class: ' btn btn-success'

          -#%tr
          -#  %td{colspan:'8', style:'text-align:center; font-size:1em; color: #fff;'}
          -#    Outside your Location
          -#
          -#- @hash = (1...12).to_a
          -#- @hash.each do |v|
          -#  %tr
          -#    %td
          -#
          -#    %td Renegade Cavalcade
          -#    %td Silver
          -#    %td Professional
          -#    %td Madrid Spain
          -#    %td Support
          -#    %td 5
          -#    %td February 24th, 2014
          -#    %td NA
          -#    %td
          -#      .btn.btn-success Send Request

      -#%a.btn.load-more Show More











