.container.page-top-pad
  .row
    .col-lg-12
      .page-header
        .row
          .col-lg-3
            %h1 Perfect Fit
          .col-lg-2.win
            %br
            %br
            %i.fa.fa-map-marker
            = current_user.location_city
            = current_user.location_state
          .col-lg-2.win
            %br
            %br
            Play Style:
            = current_user.play_style
          .col-lg-4.win
            %br
            %br
            Times:
            = current_user.gaming_times.tr!('_', ' ')

        We have found these available positions perfect for you! If you dont find a position you want then create your own team.
        = link_to 'Create New Team', new_team_path, class:'pull-right'

      %table.table.table-hover.teams-table
        %thead
          %tr
            %th
            %th Team Name
            %th League
            %th Style
            %th Location
            %th Position
            %th Wins
            %th Founded
            %th Server
            %th Join Request
        %tbody
          - @hash = (1...3).to_a
          - @hash.each do |v|
            %tr
              %td
                %img{src:'assets/G2_logo.png'}
              %td GAMERS 2
              %td Silver
              %td Casual
              %td Las Vegas
              %td Support
              %td 9
              %td February 24th, 2014
              %td NA
              %td
                .btn.btn-success Send Request

          %tr
            %td{colspan:'8', style:'text-align:center; font-size:1em; color: #fff;'}
              Outside your Location

          - @hash = (1...12).to_a
          - @hash.each do |v|
            %tr
              %td

              %td Renegade Cavalcade
              %td Silver
              %td Professional
              %td Madrid Spain
              %td Support
              %td 5
              %td February 24th, 2014
              %td NA
              %td
                .btn.btn-success Send Request

      %a.btn.load-more Show More











