.container.page-top-pad
  .row.page-top-pad
    .col-lg-3
      - unless @team.avatar_url.blank?
        .team-avatar{style:"background-image:url(#{@team.avatar_url})"}

      %legend Team Comm
      %a.skype-button{:href => "skype:#{@skype_names.join(';')}?call&topic=Team%20Call", title:" Conference: #{@skype_names.join(', ')}", 'data-placement'=>"top"}
        = image_tag 'skype.png'
        Start Group Call
      :javascript
        $('.skype-button').tooltip()

      %hr

      = form_for(@team.stream.notifications.build, url: team_notifications_path(@team), html:{class: 'form-inline'}) do |f|
        .form-group
          = f.text_field :message, class: 'form-control', placeholder: 'Message'
          = f.submit 'Post', class: 'btn btn-default chat-post'
      -#%form.form-inline{role: 'form'}
        -#.form-group
          -#%input.form-control{placeholder: 'Message', type: 'text'}
        -#%button.btn.btn-default.chat-post{type: 'submit'} Post
      - @team.stream.notifications.order(created_at: :desc).each do |msg|
        .activity
          .note
            .from
              = msg.from
            .message
              = msg.message

    .col-lg-9.team_show
      %legend
        = link_to 'Summoner Roster', new_team_membership_path(@team), class: 'btn pull-right'
        = link_to 'Edit', edit_team_path(@team), class:'btn pull-right'

        = @team.name.upcase

      = render partial:'teams/team_memberships', locals:{team:@team, edit:false}

      .row
        .col-lg-12
          %legend
            Gold Per Minute
          = render 'gold_chart'


      %br
      %br
      %legend
        Match History
      - cache([@team, @team_games.first]) do
        = render partial: 'match', collection: @team_games, as: :match, locals:{team_ids: @team.team_memberships.map(&:id)}





  %br
  %br
  %br




:javascript
  $('.has-tooltip').tooltip()
  $('.numeral').each(function(){
    $(this).text(numeral($(this).text()).format('0.0a'))
  })











