.container.page-top-pad
  .row.page-top-pad
    .col-lg-3
      - unless @team.avatar_url.blank?
        .team-avatar{style:"background-image:url(#{@team.avatar_url})"}
      - unless @team.about_us.blank?
        .team-info
          = simple_format(@team.about_us)
        %br

      - if @is_a_member
        %legend Team Comm
        %a.skype-button{:href => "skype:#{@skype_names.join(';')}?call&topic=Team%20Call", title:" Conference: #{@skype_names.join(', ')}", 'data-placement'=>"top"}
          = image_tag 'skype.png'
          Start Group Call
        :javascript
          $('.skype-button').tooltip()

        %hr

        = form_for(@team.stream.notifications.build, url: team_notifications_path(@team), html:{class: 'form-inline'}) do |f|
          .form-group
            = f.text_field :message, class: 'form-control', placeholder: 'Message'
            = f.submit 'Post', class: 'btn btn-default chat-post'
        -#%form.form-inline{role: 'form'}
          -#.form-group
            -#%input.form-control{placeholder: 'Message', type: 'text'}
          -#%button.btn.btn-default.chat-post{type: 'submit'} Post
        - @team.stream.notifications.order(created_at: :desc).each do |msg|
          .activity
            .note{ class:msg.source_type.downcase }
              - if msg.source_type.downcase  == 'game'
                .tops{class:msg.notification_type.downcase}
                  .team
                    = msg.stream.owner.try(:name)
                  .outcome
                    = msg.message

              - else
                .tops
                  .from
                    = msg.from.capitalize
                  .time
                    = msg.stream.owner.try(:name)
                    •
                    = msg.updated_at.strftime('%b %e %l:%M %p')

                %div{ class:msg.notification_type }
                  = msg.message





    .col-lg-9.team_show
      %legend
        - if @is_a_member
          - invites = @team.requests.undecided.includes({user:[:summoner]})
          = link_to new_team_membership_path(@team), class: 'btn pull-right has-bubble' do
            Summoner Roster
            - if invites.count > 0
              .bubble.has-tooltip{title:"#{invites.count} Invite #{invites.count == 1 ? 'request':'requests'}"}
                = invites.count

          = link_to 'Edit', edit_team_path(@team), class:'btn pull-right'

        - elsif @request_pending
          %span.btn.pull-right
            Request Pending
        - else
          = form_for Team::Request.new(team: @team), url: requests_path do |f|
            = f.hidden_field :team_id
            = f.submit 'Request Invite', class: 'btn pull-right btn-primary', style:'margin: -6px 0; font-size: 11px;'

        = @team.name.upcase

      = render partial:'teams/team_memberships', locals:{team:@team, edit:false}

      .row
        .col-lg-12
          %legend
            Gold Per Minute
          = render 'gold_chart'


      %br
      %br
      %legend
        Match History
        .pull-right{style: 'font-size: 14px; margin-top: -10px;'}
          = paginate @team_games
      .team-matches
        - cache([@team, @team_games.first]) do
          = render partial: 'match', collection: @team_games, as: :match, locals:{team_ids: @team.team_memberships.map(&:summoner_id)}
      %hr
      .pull-right{style: 'font-size: 13px; padding-top: 5px;'}
        = paginate @team_games





  %br
  %br
  %br




:javascript
  $('.has-tooltip').tooltip()
  $('.numeral').each(function(){
    $(this).text(numeral($(this).text()).format('0.0a'))
  })











