.container.page-top-pad
  .row.page-top-pad
    .col-lg-3
      %legend Team Comm
      - participants = ['echo123','benjamin.falk','changingworld358']
      %a.skype-button{:href => "skype:#{participants.join(';')}?call&topic=Team%20Call", title:" Conference: #{participants.join(', ')}", 'data-placement'=>"top"}
        %img{src:'/assets/skype.png'}
        Start Group Call
      :javascript
        $('.skype-button').tooltip()

      %hr

      %form.form-inline{role: 'form'}
        .form-group
          %input.form-control{placeholder: 'Message', type: 'text'}
        %button.btn.btn-default.chat-post{type: 'submit'} Post
      .activity
        .note
          .system
            .row
              .col-lg-7
                Team Created
              .col-lg-5
                Jun 8 3:24 PM



    .col-lg-9
      %legend
        %a.btn.pull-right Edit
        = @team.name

      %table.table
        %thead
          %tr
            %th Team Roster
            %th Name
            %th Location
            %th
            %th KDA
            %th Role
            %th Skill
        %tbody
          - @team.team_memberships.each do |tm|
            %tr
              %td 
                = tm.user.summoner.name
              %td 
                = tm.user.full_name
              %td 
                = tm.user.location
              %td 
                = tm.membership_type
              %td 2
              %td 
                = tm.role.try(:name)
              %td{style:'width:200px'}
                .progress
                  .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "80", role: "progressbar", style: "width: 80%"}
                    %span.sr-only 80% Complete




      .row
        .col-lg-12
          No chart data at this time.





      %br
      %br
      %legend
        Match History
      No match history at this time.



  %br
  %br
  %br














