%tr
  %td
    = image_tag request.user.avatar_url, class:'small-avatar'
    = request.user.summoner.name
  %td
    = request.user.location
  %td
    = request.user.summoner.level
  %td
    = request.user.favorite_roles.to_a.join(", ")
  %td

  %td
    = request.user.play_style
  %td
    = request.user.gaming_times_pretty
  %td
    .champ-list-short-small
      - request.user.favorite_champions.each do |fc|
        = image_tag fc.avatar_url

  %td
    = form_for(request, url: team_request_url(@team,request)) do |f|
      = f.hidden_field :status, value: :accepted 
      = f.submit 'Except', class: 'btn btn-success'
