.container.page-top-pad
  .page-header
    .row
      .col-lg-5
        %h2
          = @team.name
          Roster
      .col-lg-7
        = render partial: 'memberships/form'





  = render partial:'teams/team_memberships', locals:{team:@team, edit:true}








  %br
  %br
  %br
  %br
  %br

  %legend Except Requests
  %table.table.team-builder-table.table-hover
    %thead
      %tr
        %th CANDIDATES
        %th LOCATION
        %th Level
        %th ROLE
        %th KDA
        %th STYLE
        %th Times
        %th CHAMPS
        %th
    %tbody
      = render partial: 'request', collection: @team.requests.undecided.includes({user:[:summoner]}).to_a, as: :request

  %legend Recently played with
  %table.table.team-builder-table.table-hover
    %thead
      %tr
        %th CANDIDATES
        %th LOCATION
        %th Level
        %th ROLE
        %th KDA
        %th STYLE
        %th Times
        %th CHAMPS
        %th
    %tbody
      = render partial: 'invite', collection: [], as: :user

  %legend Candidates
  %table.table.team-builder-table.table-hover
    %thead
      %tr
        %th CANDIDATES
        %th LOCATION
        %th Level
        %th ROLE
        %th KDA
        %th STYLE
        %th Times
        %th CHAMPS
        %th
    %tbody
      = render partial: 'invite', collection: @canidates, as: :user
