.container.page-top-pad
  .page-header
    .row
      .col-lg-5
        %h2
          = @team.name.capitalize
          Roster
      .col-lg-7
        = render partial: 'memberships/form'





  = render partial:'teams/team_memberships', locals:{team:@team, edit:true}








  %br
  %br
  %br
  %br
  %br

  %legend Except Requests
  - req_ary = @team.requests.undecided.includes({user:[:summoner]}).to_a
  - if req_ary.size > 0
    %table.table.team-builder-table.table-hover
      %thead
        %tr
          %th CANDIDATES
          %th LOCATION
          %th Level
          %th ROLE
          %th KDA
          %th STYLE
          %th Times
          %th CHAMPS
          %th
      %tbody
        = render partial: 'request', collection: req_ary, as: :request
  - else
    .row
      .col-lg-12
        .load-more
          None at this time


  -#%legend Recently played with
  -#%table.table.team-builder-table.table-hover
  -#  %thead
  -#    %tr
  -#      %th CANDIDATES
  -#      %th LOCATION
  -#      %th Level
  -#      %th ROLE
  -#      %th KDA
  -#      %th STYLE
  -#      %th Times
  -#      %th CHAMPS
  -#      %th
  -#  %tbody
  -#    = render partial: 'invite', collection: [], as: :user

  %legend Candidates

  - if @canidates.size > 0
    %table.table.team-builder-table.table-hover
      %thead
        %tr
          %th CANDIDATES
          %th LOCATION
          %th Level
          %th ROLE
          %th KDA
          %th STYLE
          %th Times
          %th CHAMPS
          %th
      %tbody
        = render partial: 'invite', collection: @canidates, as: :user
  - else
    .row
      .col-lg-12
        .load-more
          None at this time