.container.page-top-pad
  .page-header
    %h1 Summoner Profile Details
  %p
    Nullam quis risus eget
    %a{:href => "#"} urna mollis ornare
    vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
    vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.





  .row.page-top-pad
    .col-lg-6
      .row
        .col-lg-3
          %i.fa.fa-user{style:'font-size:5em;'}
        .col-lg-9
          %h1 POTTERBAUM

      = form_for resource, as: resource_name, url: registration_path(resource_name), html:{class:'page-top-pad form-horizontal'} do |f|
        - if @user.errors.any?
          #error_explanation.bs-callout.bs-callout-danger
            %h4
              = pluralize(@user.errors.count, "error")
              prohibited this user from being saved:
            %ul
              - @user.errors.full_messages.each do |msg|
                %li
                  * #{msg}

        %fieldset
          %legend Personal
          .form-group
            %label.col-lg-3.control-label{:for => "inputEmail", autofocus: true} First Name
            .col-lg-9
              %input#inputEmail.form-control{:placeholder => "First Name", :type => "text"}
          .form-group
            %label.col-lg-3.control-label{:for => "inputEmail"} Last Name
            .col-lg-9
              %input#inputEmail.form-control{:placeholder => "Laat Name", :type => "text"}
          .form-group
            %label.col-lg-3.control-label{:for => "inputEmail"} Email*
            .col-lg-9
              = f.email_field :email, class:'form-control', :placeholder => "Email"
          .form-group
            %label.col-lg-3.control-label{:for => "textArea"} About Yourself
            .col-lg-9
              %textarea#textArea.form-control{:rows => "3"}
              %span.help-block A longer block of help text that breaks onto a new line and may extend beyond one line.
          .form-group
            %label.col-lg-3.control-label{:for => "select"} City
            .col-lg-9
              %input#inputEmail.form-control{:placeholder => "City", :type => "text"}
          .form-group
            %label.col-lg-3.control-label{:for => "select"} State/Province
            .col-lg-9
              %input#inputEmail.form-control{:placeholder => "State/Province", :type => "text"}
          .form-group
            %label.col-lg-3.control-label{:for => "inputEmail"} Password*
            .col-lg-9
              = f.password_field :password, class:'form-control', autocomplete: "off", :placeholder => "Password"
          .form-group
            %label.col-lg-3.control-label{:for => "inputEmail"} Confirm Password*
            .col-lg-9
              = f.password_field :password_confirmation, class:"form-control", autocomplete: "off", :placeholder => "Password"

          %legend Game Play
          .form-group
            %label.col-lg-3.control-label Play Style
            .col-lg-9
              %label.radio-inline
                %input{:checked => "", :name => "optionsRadios", :type => "radio", :value => "option1"}
                  Competitive
              %label.radio-inline
                %input{:name => "optionsRadios", :type => "radio", :value => "option2"}
                  Casual
          .form-group
            %label.col-lg-3.control-label{:for => "select"} Favorite Champs
            .col-lg-9
              .col-lg-3
                %select#summoner-select-1.js-summoner-picker.summoner-picker-old
                  %option

              .col-lg-3
                %select#summoner-select-2.js-summoner-picker.summoner-picker-old
                  %option

              .col-lg-3
                %select#summoner-select-3.js-summoner-picker.summoner-picker-old
                  %option

              .col-lg-3
                %select#summoner-select-4.js-summoner-picker.summoner-picker-old
                  %option


            :javascript

              buildSummonersoptionsList($('.js-summoner-picker'))





              $(".summoner-picker-old").customSelect({customClass:'summoner-picker'})
              $('.summoner-picker-old').change(function(){
                $(this).siblings('span').css({
                'background-image':'url(http://ddragon.leagueoflegends.com/cdn/4.5.4/img/champion/'+$(this).val()+'.png)',
                'background-size': 'contain',
                'color': 'rgba(255, 255, 255, 0)',
                'border': '1px solid #767F97'
                })
              })


              var gameChamps = []

            - @summoner.game_stats.each do |game|
              :javascript
                gameChamps.push(#{game.raw['championId']})

            :javascript
              var i=1
              _.each(_.uniq(gameChamps),function(id){
                $('#summoner-select-'+i).val(getSummoner(id).key).change()
                i++
              })



          .form-group
            %label.col-lg-3.control-label{:for => "select"} Roles
            .col-lg-9
              %label.checkbox-inline
                %input#inlineCheckbox1{:type => "checkbox", :value => "option1"}
                  Jungle
              %label.checkbox-inline
                %input#inlineCheckbox2{:type => "checkbox", :value => "option2"}
                  Support
              %label.checkbox-inline
                %input#inlineCheckbox3{:type => "checkbox", :value => "option3"}
                  Mid
              %label.checkbox-inline
                %input#inlineCheckbox3{:type => "checkbox", :value => "option3"}
                  Top
              %label.checkbox-inline
                %input#inlineCheckbox3{:type => "checkbox", :value => "option3"}
                  Cary

          .form-group
            %label.col-lg-3.control-label{:for => "select"} Convenient Gaming Times
            .col-lg-9
              %select#select.form-control
                %option Nights and weekends
                %option Ally day everyday
                %option weekends only
                %option daytime only


          %legend Verification

          .form-group
            %label.col-lg-3.control-label Masterie name code
            .col-lg-9
              %h3{style:'margin-top: 3px;'}
              = "<div class=\"well well-sm\">#{@summoner.verify_string}</pre></div>".html_safe
          %p
            To verify your account just create a new masteries page and name it the code above.
            When you hit "Verify and Save" we will go and look for a masteries page with the name
            matching the code above. Make sure you name the masteries the code and only the code no
            extra letters or numbers just the code.
          .form-group

            %a.btn.btn-default.col-lg-3{:href => "../"} Cancel
            .col-lg-3
            .col-lg-3
            = f.submit "Verify and Save", class:'btn btn-primary col-lg-3'
      %br
      %br
        -#= debug @summoner
        -#= debug @summoner.stats_summary
        -#- @summoner.game_stats.each do |game|
        -#  = debug game
        -#  - game.raw.each_pair do |key, value|
        -#    = key
        -#    = value

    .col-lg-4.col-lg-offset-1

      - total_wins = 0
      - total_kills = 0
      - totalTurretsKilled = 0
      - totalAssists = 0
      - days = ((@summoner.level * 413.42)/60)/24
      - hours = (24*(days - days.to_i))
      - minutes = (60*(hours - hours.to_i))

      - @summoner.stats_summary.raw.each do |type|
        - if type['playerStatSummaryType'] != 'CoopVsAI'
          - total_wins += type['wins'].to_i
          - total_kills += type['aggregatedStats']['totalChampionKills'].to_i
          - totalTurretsKilled += type['aggregatedStats']['totalTurretsKilled'].to_i
          - totalAssists += type['aggregatedStats']['totalAssists'].to_i


      %h4 Summoner Role Performance
      %canvas#canvas{:height => "250", :width => "250", style:'margin-left: -16px;'}

      %h4 Time in game*
      .row
        .col-lg-3
          %span.num
            = days.to_i
          Days
        .col-lg-3
          %span.num
            = hours.to_i
          Hours
        .col-lg-6
          %span.num
            = minutes.to_i
          Minutes
      %br




      %h4 Summoner Stats
      %ul.list-group
        %li.list-group-item
          %span.badge
            = @summoner.level
          Level
        %li.list-group-item
          %span.badge
            = total_wins
          Games Won
        %li.list-group-item
          %span.badge
            = total_kills
          Champion Kills
        %li.list-group-item
          %span.badge
            = totalTurretsKilled
          Turrets Killed
        %li.list-group-item
          %span.badge
            = totalAssists
          Assists




      %h4 Recent Games
      .list-group
        .list-group-item
          .row
            .col-lg-4.list-group-item-text
              Champ
            .col-lg-2.list-group-item-text
              KDA
            .col-lg-3.list-group-item-text
              Role
            .col-lg-3.list-group-item-text
              Outcome
        - @summoner.game_stats.each do |game|

          .list-group-item
            .row
              .col-lg-4.list-group-item-text.js-champ
                = game.raw['championId']
              .col-lg-2.list-group-item-text
                = (game.raw['stats']['numDeaths'].to_i == 0) ? 0 : (game.raw['stats']['championsKilled'].to_i + game.raw['stats']['assists'].to_i) / game.raw['stats']['numDeaths'].to_i
              .col-lg-3.list-group-item-text
                = game.raw['teamId']
              .col-lg-3.list-group-item-text
                = game.raw['stats']['win'] ? 'Won' : 'Lost'

        :javascript
          $('.js-champ').each(function(){
            $(this).text(getSummoner(parseInt($(this).text())).name)
          })

          console.log()


      -#%h4 Potential Teammates
      -#.list-group
      -#  %a.list-group-item.active{href: "#"}
      -#    .row
      -#      .col-lg-2
      -#        %img.media-object{src:'http://ddragon.leagueoflegends.com/cdn/4.5.4/img/champion/Akali.png', style:'width:44px'}
      -#      .col-lg-10
      -#        %h4.list-group-item-heading Potterbaum
      -#        .row
      -#          .col-lg-6.list-group-item-text
      -#            Las Vegas NV
      -#          .col-lg-3.list-group-item-text
      -#            1
      -#          .col-lg-3.list-group-item-text
      -#            1
      -#
      -#
      -#  %a.list-group-item{href: "#"}
      -#    %h4.list-group-item-heading SomeName
      -#    %p.list-group-item-text Something about it.
      -#  %a.list-group-item{href: "#"}
      -#    %h4.list-group-item-heading SomeName
      -#    %p.list-group-item-text Something about it.
      -#  %a.list-group-item{href: "#"}
      -#    %h4.list-group-item-heading SomeName
      -#    .list-group-item-text Something about it.



