.container
  .mast-head
    %h1.mast-title Ready to team up?
    %h2.mast-sub-title Easily join or Create your League of Legends team.
    .summoner-enter

      = form_for @summoner, html: {class:'form-inline summoner-init'} do |f|
        = f.text_field :name, class:'summoner-name', placeholder:'Enter Summoner Name'
        .summoner-region-wrap
          = f.select :region, options_for_select([['NA', 'NA'],['EUW', 'EUW'],['EUNE', 'EUNE'],['RU', 'RU'],['OCE', 'OCE'],['LAN', 'LAN'],['LAS', 'LAS']])
        :javascript
          $("#summoner_region").customSelect()

        = f.submit 'Enter', class:'btn btn-primary summoner-submit'

      .small-text
        By clicking enter you are agreeing to the
        %a{:href => "#terms"} terms
    -#.member-numbers 321,943 members and growing





.container
  .page-header{style:'text-transform:uppercase;'}
    %h2 Being apart of something bigger then yourself
  %p
    Whether you are into extremely competitive gaming or just casual game play with friends, its always better when there is team synergy. We feel like a large frustration in the game is when teammates don’t get along and game play starts to go from fun to frustrating. We have made assembling a team quick and easy. Team up with players who have similar gaming schedules (nights and weekends etc). Fill a specific role your team is missing. See actual game stats on a player before you chose to accept them into team.
  %p
    Once a team is assembled keep track of all your matches, collaborate on the game play strategies, and critic each others plays. With match notes and living team chat you can keep a record on each match.




.container.marketing
  .jumbotron
    / Three columns of text below the carousel
    .row
      .col-lg-4.large-icon
        %i.fa.fa-users
        %h3 Easy Team Building
        %p Our team building system takes the pain out of setting up a team. We automatically mach you with like players in your area with the skills to fill the desired roles for your team. No more scraping together a team.

      .col-lg-4.large-icon
        %i.fa.fa-headphones
        %h3 Skype Integration
        %p Conveniently launch a Skype conference call with all team members without having to know their Skype names. Just hit the group call button and everyone will be in the same call.

      .col-lg-4.large-icon
        %i.fa.fa-bar-chart-o
        %h3 Full Team history and Stats
        %p Full team analytics and team dynamic are charted out including gold per minute averages and and KDA ratios. You can also take team notes on a each match, vote on and MVP and upload your League Replay.


.container
  -#  .page-header
  -#    %h2 Amateur Standings
  -#  %table.table
  -#    %thead
  -#      %tr
  -#        %th
  -#        %th{colspan:'2'} Team
  -#        %th Roster
  -#        %th Location
  -#        %th Wins
  -#        %th Losses
  -#    %tbody
  -#      - a = [0,1,0,1,0,4,6,3,0,7,0,2]
  -#      - a.each do |t|
  -#        %tr.standing-tr
  -#          %td.move
  -#            %i.fa{class:"fa-arrow-circle-#{t ==0 ? 'up': 'down'}"}
  -#          %td
  -#            = image_tag 'ALLlogo_0.png', class:'team-standings-logo'
  -#          %td ALLIANCE
  -#          %td.standings-team-avatars
  -#            = image_tag 'dummy_avatar.png', class:'has-tooltip', title:'Bradley Potterbaum "Potterbaum"'
  -#            = image_tag 'dummy_avatar.png', class:'has-tooltip', title:'Some Name'
  -#            = image_tag 'dummy_avatar.png', class:'has-tooltip', title:'Some Name'
  -#            = image_tag 'dummy_avatar.png', class:'has-tooltip', title:'Some Name'
  -#            = image_tag 'dummy_avatar.png', class:'has-tooltip', title:'Some Name'
  -#          %td Las Vegas NV
  -#          %td 2
  -#          %td 4
  -#
  -#  :javascript
  -#    $('.has-tooltip').tooltip()


  .row.featurette
    .col-md-7
      %h2.featurette-heading
        Full Game History
        %span.text-muted It'll blow your mind.
      %p
        Keeping track of your League of Legends games is a breeze.  Watch your your history bar fill up as you
        and your team play.  From the time you sign up we'll start tracking
        your matches and begin putting the data together so you can identify patterns in your play that lead to
        more wins!
      %p
        Game history for teams includes a place for you to leave notes and upload a League Replay files.  With this
        historical colaboration your team can identify what went right and what went wrong through the season.
      %blockquote
        %p Those who cannot remember the past are condemned to repeat it.
        %footer George Santayana
    .col-md-5
      = image_tag 'screens/screens_02.png', class:'featurette-image'

  %hr.featurette-divider
  .row.featurette
    .col-md-5
      = image_tag 'screens/screens_01.png', class:'featurette-image'
    .col-md-7
      %h2.featurette-heading
        Enriched User Profile
        %span.text-muted See for yourself.
      %p
        Whether you want to show off your favorite champions, your in game accomplishments, or past games you've
        played; we have you covered.  We keep track of when you score that PentaKill and highlight it on your
        profile page when it happens.  See how many badges you can collect!
      %p
        See highlights of your team activity and any messages that your teammates have left for you.
      %blockquote
        %p There's something about having a badge that just makes you feel so official.
        %footer Gloria Reuben
        
        
  %hr.featurette-divider

  .row.featurette
    .col-md-7
      %h2.featurette-heading
        Team Overview Page
        %span.text-muted Synergize.
      %p
        You don't win with the best talent - you win with the five players who are able to play well together.
      %p
        It's all about being together.  On the team overview page you'll be able to see the full team roster,
        which includes the summoner, their favorite champs, and the role the play on the team.
      %p
        Highlighted is the teams gold per minute chart.  This chart shows you how each player on the team is
        doing from game to game.
      %blockquote
        %p Teamwork is the secret that makes common people achieve uncommon results.
        %footer Ifeanyi Enoch Onuoha
    .col-md-5
      = image_tag 'screens/screens_03.png', class:'featurette-image'
  %hr.featurette-divider

  .row.featurette
    .col-md-5
      = image_tag 'screens/screens_04.png', class:'featurette-image'
    .col-md-7
      %h2.featurette-heading
        Teaming Up Made Easy
        %span.text-muted Simply Amazing
      %p
        Teaming up shouldn't be a pain!  From the team roster you can look through other members just like you
        and invite them to join your team.  Spend less time setting up a team and more time time playing
        League of Legends.
      %p
        Other players who want to join your team can send you a request which you can accept from the roster.
      %blockquote
        %p Coming together is a beginning. Keeping together is progress. Working together is success.
        %footer Henry Ford
      

  %hr.featurette-divider
