!!!
%html
  %head
    %title TeamBuilder
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - flash.each do |key, value|
      :javascript
        toastr.error("#{key}: #{value}")
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %a.navbar-brand{:href => "../"} League Team Builder
          %button.navbar-toggle{"data-target" => "#navbar-main", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        %ul.nav.navbar-nav.pull-right
          - if current_user.present?
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Teams
                %b.caret
              %ul.dropdown-menu
                - current_user.teams.each do |t|
                  %li
                    = link_to t.name, team_path(t)

                %li.divider
                %li
                  = link_to 'Create New Team', new_team_path

          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Account
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to 'Profile', edit_account_path
              %li
                = link_to 'Edit Email/Password', edit_user_registration_path
              %li
                - if current_user.present?
                  = link_to 'Logout', destroy_user_session_path, :method => :delete
                - else
                  = link_to 'Login', new_user_session_path


        #navbar-main.navbar-collapse.collapse
          -#%ul.nav.navbar-nav
          -#  %li
          -#    %a{:href => "../help/"} Help
          -#%button.btn.btn-primary.navbar-right{:type => "button", style:'height: 39px;margin-top: 1px;', :onclick => "document.getElementById('loginForm').submit();"} Login
          -#= form_for resource, as: resource_name, url: session_path(resource_name), html:{class:' navbar-form navbar-right'} do |f|
          -#  = f.email_field :email, autofocus: true
          -#  = f.password_field :password, autocomplete: "off", :placeholder => "Password", style: 'background: #919BA3;color:#fff;'

    = yield

    %footer
      .container
        %p.pull-right
          %a{:href => "#"} Back to top
        %p
          © 2014 LOL Team Builder
          %a{:href => "#"} Privacy
          ·
          %a{:href => "#"} Terms